<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css'
      integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/style.css' />
    <title>Node Practical</title>
    <script>

    </script>
  </head>

  <body>
    <nav class='navbar sticky-top navbar-expand-lg navbar-dark bg-primary'>
      <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>

      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          {{#if userData}}
          <ul class='navbar-nav mr-auto'>
            {{#isEqual userData.role "client"}}
              <li class='nav-item'>
                <a class='nav-link' href='/createTicket'>Create Tickets</a>
                {{!-- <a class='nav-link disabled' href='#'>Create Tickets</a> --}}
              </li>
            {{/isEqual}}
            <li class='nav-item active'>
              <a class='nav-link' href='/viewTickets'>View Tickets
                <span class='sr-only'>(current)</span></a>
            </li>
          </ul>
          <ul class='my-2 my-lg-0 navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link' href='/logout'>Logout</a>
            </li>
          </ul>
          {{else}}
          <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
              <a class='nav-link' href='/register'>Register</a>
            </li>
          </ul>
          <ul class='my-2 my-lg-0 navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link' href='/login'>Login</a>
            </li>
          </ul>
          {{/if}}
        </ul>

      </div>
    </nav>

    <div class='container mt-4'>
      <div class='jumbotron'>
        <h2 class='text-center'>Node Practical Assignment</h2>
        <hr class='my-4' />
        <p class="text-justify">Requirements:
          <ul>
            <li>Create registration and login api with JWT and integrate it in form using template rendering</li>
            <li>4 user role - admin, manager, employee, client</li>
            <li>Client can create tickets with text, images or video content</li>
            <li>Employee can add remarks to the ticket and send it to manager for approval</li>
            <li>Manager can add remarks and approve or disapprove the ticket. If approved then the admin will be notified and admin can add his/her remarks and approve or disapprove the ticket</li>
            <li>If disapproved by manager then the employee need to make required changes in remarks and can submit the ticket again for approval</li>
            <li>If the ticket is disapproved by any role then it should be returned to the concerned role with the feedback. After making necessary changes the person can resubmit it</li>
            <li>If the ticket is approved by admin then the client will be notified for the same</li>
            <li>Admin should be able to view all the stages of the ticket</li>
          </ul>
        </p>
      </div>
    </div>

    <script
      src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
      integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
      crossorigin='anonymous'
    ></script>
  </body>

</html>